.balance-form, .input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.balance-form {
  justify-content: space-between;
  margin: 20px 0;
}

.month {
  width: 200px;
  display: flex;
  justify-content: center;
}

.balances {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.selector {
  justify-content: center;
  display: flex;
  gap: 8px;
  align-items: center;
}
