<div class="balances">

  <div class="selector">
    <div class="pointer" (click)="balanceService.changeMonth(-1)">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="month">
      {{ formattedDate }}
    </div>
    <div class="pointer" (click)="balanceService.changeMonth(1)">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>

  <app-month-chart *ngIf="showChart && balanceService.balances.length > 0"></app-month-chart>
  <div>
    <div *ngIf="balanceService.balances.length > 0" (click)="showChart = !showChart">
      <button *ngIf="showChart">Hide chart</button>
      <button *ngIf="!showChart">Show chart</button>
    </div>
  </div>

  <form *ngIf="form" [formGroup]="form"
        (ngSubmit)="form.valid && createBalance()">
    <div class="balance-form">
      <div class="form-row">
        <div class="input">
          <label for="balance-label">Label</label>
          <input id="balance-label"
                 type="text"
                 formControlName="label"
                 autocomplete="off"
                 required>
          <app-errors [control]="label"></app-errors>
        </div>

        <div class="input">
          <label for="balance-amount">Amount</label>
          <input id="balance-amount"
                 type="number"
                 formControlName="amount"
                 required>
          <app-errors [control]="amount"></app-errors>
        </div>
      </div>

      <div *ngIf="form.valid">
        <button type="submit">Create balance</button>
      </div>
    </div>
  </form>

  <ng-container *ngIf="balanceService.balances">
    <app-balance *ngFor="let balance of balanceService.balances" [balance]="balance"></app-balance>
  </ng-container>
</div>
