.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  height: 42px;
}

.label.min-width {
  min-width: 200px;
}

.amount-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 140px;
}

.amount {
  padding: 6px;
  border-radius: 4px;
  background-color: lightgreen;
  color: forestgreen;
}

.amount.negative {
  background-color: indianred;
  color: darkred;
}

.options {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
  justify-content: space-between;
  min-width: 40px;
  cursor: pointer;
}

.options.end {
  justify-content: flex-end;
}

form {
  flex-grow: 1;
}

.balance-form {
  width: 100%;
}

.form-row {
  width: 100%;
  justify-content: space-between;
}
