
.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 32px;
}

.label.min-width {
  min-width: 200px;
}

.amount {
  padding: 6px;
  border-radius: 4px;
  background-color: lightgreen;
  color: forestgreen;
}

.amount.negative {
  background-color: indianred;
  color: darkred;
}
