.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
  gap: 4px;
}

.back {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  font-weight: 600;
}

.options {
  display: flex;
  gap: 8px;
}
