<ng-container>
  <div *ngIf="archiveExists()" class="options">
    <button (click)="showArchived = !showArchived">
      <div *ngIf="!showArchived">Show archived</div>
      <div *ngIf="showArchived">Hide archived</div>
    </button>
  </div>
  <div class="projects">
    <ng-container *ngFor="let project of projectService.projects; let i = index">
      <div *ngIf="(!showArchived && !project.data.archived) || (showArchived && project.data.archived)"
           class="project">
        <input [id]="project.$id"
               type="text"
               [(ngModel)]="project.data.name"
               autocomplete="off"
               (change)="projectChange(project)">
        <div *ngIf="project.$id && !project.data.archived"
             [routerLink]="'project/' + project.$id"
             class="link">Go to project
        </div>
        <div *ngIf="project.data.archived"
             (click)="unarchive(project)"
             class="link">Unarchive
        </div>
      </div>
    </ng-container>
    <button *ngIf="!showArchived" [disabled]="canAdd()" (click)="projectService.addProject()">
      Add project
    </button>
  </div>
</ng-container>
