<ng-container>
  <div class="projects">
    <div *ngFor="let project of projectService.projects; let i = index" class="project">
      <input [id]="project.$id"
             type="text"
             [(ngModel)]="project.data.name"
             (change)="projectChange(project)">
      <div *ngIf="project.$id" [routerLink]="'project/' + project.$id" class="link">Go to project</div>
    </div>
    <button [disabled]="canAdd()" (click)="projectService.addProject()">Add project</button>
  </div>
</ng-container>
