<ng-container>
  <div *ngIf="archiveExists()" class="options">
    <button (click)="showArchived = !showArchived">
      <div *ngIf="!showArchived">Show archived</div>
      <div *ngIf="showArchived">Hide archived</div>
    </button>
  </div>
  <div class="projects">
    <ng-container *ngFor="let project of projectService.projects; let i = index">
      <div *ngIf="(!showArchived && !project.data.archived) || (showArchived && project.data.archived)"
           class="project">
        <input [id]="project.$id"
               [ngClass]="{ 'ng-invalid': project.data.name.length < 1 || project.data.name.length > 16 }"
               type="text"
               [(ngModel)]="project.data.name"
               autocomplete="off"
               (change)="projectService.saveProject(project)">
        <div *ngIf="project.$id && !project.data.archived"
             [routerLink]="'project/' + project.$id"
             class="link">Go to project
        </div>
        <div *ngIf="project.data.archived"
             (click)="unarchive(project)"
             class="link">Unarchive
        </div>
      </div>
    </ng-container>
    <div *ngIf="showNewProject && !showArchived" class="project">
      <input id="new-project"
             [ngClass]="{ 'ng-invalid': newProject.data.name.length < 1 || newProject.data.name.length > 16 }"
             type="text"
             [(ngModel)]="newProject.data.name"
             autocomplete="off"
             (change)="createProject()">
    </div>
    <button *ngIf="!showArchived" [disabled]="showNewProject" (click)="showNewProject = true">
      Add project
    </button>
  </div>
</ng-container>
