.projects {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.link {
  color: cornflowerblue;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px 0
}
