<div class="category-container">
  <div class="categories">
    <app-category *ngFor="let category of categories" [category]="category">
    </app-category>
  </div>
  <form *ngIf="createCategoryForm" [formGroup]="createCategoryForm"
        (ngSubmit)="createCategoryForm.valid && createCategory()">
    <div class="category-form">
      <div class="form-row">
        <div class="input">
          <label for="category-label">Label</label>
          <input id="category-label"
                 type="text"
                 formControlName="label"
                 autocomplete="off"
                 required>
          <app-errors [control]="categoryLabel"></app-errors>
        </div>

        <div class="input">
          <label for="category-budget">Budget</label>
          <input id="category-budget"
                 type="number"
                 formControlName="budget"
                 required>
          <app-errors [control]="categoryBudget"></app-errors>
        </div>

        <div class="input">
          <label for="category-end-date">End date</label>
          <input id="category-end-date"
                 type="date"
                 formControlName="endDate">
          <app-errors [control]="categoryEndDate"></app-errors>
        </div>
      </div>


      <div>
        <button type="submit">Create category</button>
      </div>
    </div>
  </form>
</div>
